@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
$font-base: 'Open Sans', sans-serif;
$font-alt: 'Merriweather';
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-30: 30px;
$font-size-36: 36px;
$font-size-38: 38px;
$font-size-90: 90px;